body {
  font-family: Verdana,Arial,Helvetica,sans;
}
button {
  padding: 5px;
  border-radius: 5px;
  box-shadow:none;
  border-width: 0;
}
button[type=submit],
button.addSetBtn {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #0099FF;
  border-radius: 5px;
  box-shadow:none;
  border-width: 0;
  color: white;
}
.work {
    color: gray;
    font-style: italic;
}
a {
  text-decoration: none;
  color: #0099FF;
}
fieldset {
  margin: 1em;
}
.form-field {
  margin: 0.5em;
}
#settings {
  display: none;
}
#settings.visible {
  display: block;
}
